html, body {
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    animation: tenylegesoldal 1s linear 14s;
    animation-fill-mode: forwards;
}
#ezazagyam{
  height: auto;
  width: 30vw;
}
.szovegamielfogtunni_esakepis{  
      animation: fadeOut 3s linear;
      animation-delay: 1s;
      color: white;
      font-size: 3rem;
      animation-fill-mode: forwards;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
.masodikszovegeskep{
  animation: fadeIn 3s linear;
  animation-delay: 5s;
  color: white;
  font-size: 3rem;
  animation-fill-mode: forwards;
  opacity: 0;
  position: absolute;
  top: 35vh;
}
.ezmarcsakszoveg{
  animation: fadeIn 3s linear;
  animation-delay: 9s;
  color: white;
  font-size: 3rem;
  animation-fill-mode: forwards;
  opacity: 0;
  position: absolute;
  top: 35vh;
  }
.ezmartenylegazoldal{
  opacity: 0;
  animation: masanimacio 5s linear;
  animation-delay: 13s;
  color: white;
  animation-fill-mode: forwards;
}
#nelegyenronda{
  border: none;
}
.miertronda{
  border: none;
}
h1{
  text-align: center;
}
p{
  text-align: center;
  font-size: 18px;
}
.nagybetus{
  font-size: 3rem;
}
.container > li {
  padding: 20px;
  text-align: center;
  font-size: 2em;
  color: #ffeead;
  box-sizing: border-box;
  background-color: palevioletred;
  list-style-type: none;
}
.kep{
  height: auto;
  width: 30vw;
  display: flex;
  margin-left: 25%;
}
.container {

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.container > li {
  flex: 1;
}
.transition{
  background: red;
  color: black;
  transition: 2s ease;
  text-align: center;
}
.transition:hover{
  background: yellow;
  color: blue;
  font-size: 2rem;

}
.container {
  padding: 0;
  align-items: center;
}
li{
  border: white solid 2px;
  font-size: 18px;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: aliceblue;
}

  @keyframes fadeOut {
    0% { opacity: 1;}
    100% { opacity: 0;}
  }

  @keyframes fadeIn {
    0% { opacity: 0;}
    50% { opacity: 1;}
    100% { opacity: 0;}
  }

  @keyframes tenylegesoldal {
    100%  {opacity: 1; background: radial-gradient(circle, rgba(251,146,63,1) 0%, rgba(252,70,107,1) 76%);
}
  }
  @keyframes masanimacio {
    100%  {opacity: 1;
}
  }
